{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMMAND>_ Compendium Management Desktop</title>
    <script id="microloader" data-app="fe3297ec-51c1-4649-89b6-844ab4566e0a" type="text/javascript" src="{% static "command/js/ext-js/bootstrap.js" %}"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
    <script src="{% static "command/js/ace/src-min/ace.js" %}"></script>
    <script src="{% static "command/js/cytoscape.js/dist/cytoscape.min.js" %}"></script>
</head>
<body>
</body>
</html>